<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list.name }}</h1>
            <p><a href="{% url 'todo_list_edit' list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in list.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_edit' task.id %}">{{ task.task }}</a></td>
                            <td>{{ task.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
